<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="main-layout">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name </th>
            <th>Surname</th>
            <th>Login</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat: ${users}" th:object="${user}">
            <td th:text="*{id}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{login}"></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{'/user/add'}" th:text="'Add a new user'"></a></p>
</div>
</body>
</html>